<%- include("../partials/header.ejs", { botInfo: false, Title: `Your Bots`, Avatar: ``, Redirect: `/me` }) %>
<link rel="stylesheet" href="https://cdn.astrobot.org/css/bots.css">
<link rel="stylesheet" href="https://cdn.astrobot.org/css/form.css">
<br><br><br>

<div class="py-5 text-center filter-dark" style="background-size:cover;background-repeat:no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-lg-none"></div>
                <center>
                    <img class="img-fluid d-block rounded-circle mx-auto" src="https://astrobot.org/user/<%- user.id %>/avatar" alt="" data-toggle="tooltip" data-placement="top" title="">
                    <h2 style="font-size:25px;"><%- user.username%>#<%- user.discriminator %></h2>
                    <h5 style="font-size:20px;">Server List:</h5><br>
            </div>
        </div>
    </div>
</div>

<div class="container bg-light text-dark">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Server Name</th>
            <th>Server ID</th>
            <th>Node</th>
            <th>Extra</th>
        </tr>
        </thead>
        <tbody>
        <%table.forEach(function(entry) {%>
            <tr>
                <td> <%= entry.attributes.name %> </td>
                <td> <%= entry.attributes.uuid.slice(0, -28) %> </td>
                <td> <%= entry.attributes.node %> </td>
                <td><a style="color:red;" href="https://panel.danbot.host/server/<%=entry.attributes.uuid.slice(0, -28)%>">Delete</a>, <a style="color:blue;" href="https://panel.danbot.host/server/<%=entry.attributes.uuid.slice(0, -28)%>/">View</a></td>

            </tr>
        <%});%>
        </tbody>
    </table>
</div>

<hr>


