<%- include("../partials/header.ejs", { botInfo: false, Title: `Your Bots`, Avatar: `${avatar}`, Redirect: `/me` }) %>
<link rel="stylesheet" href="https://cdn.astrobot.org/css/bots.css">
<link rel="stylesheet" href="https://cdn.astrobot.org/css/form.css">

<div class="py-5 text-center filter-dark"  style="background-size:cover;background-repeat:no-repeat;">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="d-lg-none"></div>
<center>
  <img class="img-fluid d-block rounded-circle mx-auto" src="<%= `${avatar}`%>" alt="" draggable="false" onerror="this.onerror=null;this.src='/images/user.png';" data-toggle="tooltip" data-placement="top" title="<%= User.name %>">

<h2 style="font-size:25px;"><%= User.tag %></h2>

<!--<h5 style="font-size:20px;">User has not set a bio.</h5><br> -->

  <style>
              #status {
                text-shadow: 2px 2px 4px #000;
                color:<%- pColor %> !important;
                font-size: 15px;
                margin-bottom:10px;
                margin-top: -15px;
              }
              #status:before {
                content: '';
                width: 7px;
                height: 7px;
                background-color: <%- pColor %> !important;
                border-radius: 50%;
                position: relative;
                display: inline-block;
                right: 4px;
                bottom: 1.3px;
              }
            </style>
            <p class="title" id="status"><%- presence %></p>
        
            
            <%
            let flags = use.public_flags;
            let userFlags = [];
            
    if ((flags & 1) === 1) userFlags.push("Discord Employee");
    if ((flags & 2) === 2) userFlags.push("Discord Partner");
    if ((flags & 4) === 4) userFlags.push("HypeSquad Events");
    if ((flags & 8) === 8) userFlags.push("Bug Hunter Level 1");
    if ((flags & 64) === 64) userFlags.push("HypeSquad House of Bravery");
    else if ((flags & 128) === 128)
      userFlags.push("HypeSquad House of Brilliance");
    else if ((flags & 256) === 256)
      userFlags.push("HypeSquad House of Balance");
    if ((flags & 512) === 512) userFlags.push("Early_Supporter");
    if ((flags & 1024) === 1024) userFlags.push("Team User");
    if ((flags & 4096) === 4096) userFlags.push("System");
    if ((flags & 16384) === 16384) userFlags.push("Bug Hunter Level 2");
    if ((flags & 131072) === 131072)
      userFlags.push("Verified_Bot_Developer");
  
  

            %>
            
            <style>
            
            .popover-title{
  background-color: #2C2F33;
  color: #99AAB5;
}

</style>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script  src="https://www.googletagmanager.com/gtag/js?id=UA-156105299-1" type="text/javascript"></script>

           <p class="title" id="highlight">
	          

            
            <% if(userFlags.includes("Verified_Bot_Developer")) { %>
              <a href="https://support.discord.com/hc/en-us/articles/360040720412" rel="nofollow" target="blank"> <img class="profilebadges" src="//mythicalbots.xyz/images/verified_dev.svg" title="Discord Verified Bot Developer"> </a>
            <% } %>
            
            <% if(userFlags.includes("Early_Supporter")) { %>
               <img class="profilebadges" src="//mythicalbots.xyz/images/early_supporter.svg" title="Early Supporter"> 
            <% } %>
            
          </p>

</center>
</div>
</div>
</div>
</div>
<hr>

<% if(bots) { %>
<center>
<br>
<h5 class="sub">All of <%= User.tag %> bots.</h5>
</center>

<div class="padded-container">
  <div class="row"> 
      
<% for(var i=0; i < bots.length; i++) { %>

      
    <% let data = db.get(bots[i]) %>
    
    <div class="col-lg-4 col-md-6 col-sm-12" style="">
      <a class="no-color" href="/bot/<%- `${data.id}` %>">
        <div class="card preview-card">
          <div class="card-body">
            <div class="head">
              <img class="float-left lazy" src="https://cdn.discordapp.com/avatars/<%= data.id %>/<%= data.client.avatar %>" onerror="this.onerror = null; this.src = &quot;https://cdn.discordapp.com/embed/avatars/0.png?size=256&quot;;" alt="Avatar" draggable="false">
              <div class="content">
                <h3 class="no-color" title="bot name"><%- data.client.username %> <% if(data.Status === "Verified") { %> <span>&#10003;</span><% } %> </h3>
                <p class="description" style="color:black" title="biography">
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
      
<% } %>

			
			  </div>
			</div>
<% } else { %>
<center>
<br>
<h5 class="sub">Sorry no bots were found.</h5>
</center>
<% } %>
