<script async src="https://arc.io/widget.min.js#hKjxfFbG"></script>
<%- include("./partials/header.ejs", { botInfo: false, Title: "Node 4 Stats", Avatar: "", Redirect: "/me" }) %>

<meta http-equiv="refresh" content="10"/>
<br><br><br>

<br><br><br>

<style>
    .container {
        text-align: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .large {
        font-size: 4em;
    }

</style>

<div class="">
    <div class="row justify-content-md-center">
        <a style="color:white;" href="https://danbot.host/stats/"><h3>All Stats</h3></a>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5 text-nowrap"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
            <strong>CPU:</strong> <%- nodeData.fetch("Node4.cpu") %> (Cores: <%- nodeData.fetch("Node4.cpucores") %>,
            Threads: <%- nodeData.fetch("Node4.cputhreads") %>)
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5 text-nowrap"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> <strong>CPU
                Load:</strong> <%- nodeData.fetch("Node4.cpuload") %>%
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5 text-nowrap"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> <strong>RAM
                (Used/Total)</strong> <%- nodeData.fetch("Node4.memused") %> / <%- nodeData.fetch("Node4.memtotal") %>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5 text-nowrap"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> <strong>SWAP
                (Used/Total)</strong> <%- nodeData.fetch("Node4.swapused") %> / <%- nodeData.fetch("Node4.swaptotal") %>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5 text-nowrap"><i class="fa fa-fw fa-floppy-o" aria-hidden="true"></i> <strong>Host storage
                drive (Used/Total):</strong> <%- nodeData.fetch("Node4.diskused") %>
            / <%- nodeData.fetch("Node4.total") %></div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5 text-nowrap"><i class="fa fa-download" aria-hidden="true"></i> <strong>Network:
                Rx:</strong> <%- nodeData.fetch("Node4.netrx") %>
            <strong>Tx:</strong> <%- nodeData.fetch("Node4.nettx") %> </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5 text-nowrap"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
            <strong>Uptime:</strong> <%- nodeData.fetch("Node4.osuptime") %></div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5 text-nowrap"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> <strong>Last
                Updated:</strong> <%- nodeData.fetch("Node4.updatetime") %></div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5 text-nowrap"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> <strong>Speedtest (Updates
                every 6hours) | Ping:</strong> <%- nodeData.fetch("Node4-speedtest.ping") %>ms <br>
            <strong>Download:</strong> <%- nodeData.fetch("Node4-speedtest.download") %>Mbps,
            <strong>Upload: </strong><%- nodeData.fetch("Node4-speedtest.upload") %>Mbps, <strong>Last
                Updated:</strong> <%- nodeData.fetch("Node4-speedtest.updatetime") %></div>
    </div>


</div>
