<%- include("../partials/header.ejs", { botInfo: true, Title: `${bot.client.username}`, Avatar: `https://cdn.discordapp.com/avatars/${bot.id}/${bot.client.avatar}`, Redirect: `/bot/${bot.id}`, user }) %>

<br><br><br><br>
<div class="container-fluid" style="background-color:#2C2F33;">

<center> 
    <div class="h5 mb-0 font-weight-bold">Page still being done <3</div>
</center>

<div class="container-fluid" style="background-color:#2C2F33;">
<br><br>
<div class="row">

<div class="col-xl-3 col-md-6 mb-4">
<div class="card border-left-danger shadow h-100 py-2" style="background-color:#414a4c;border-color:#414a4c;">
<div class="card-body">
<div class="row no-gutters align-items-center">
<div class="col mr-2">
<div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Bot Name</div>
<div class="h5 mb-0 font-weight-bold" style="color:white;"><%= bot.client.username %></div>
</div>
<div class="col-auto">
<i class="fas fa-robot fa-2x text-gray-300"></i>
</div>
</div>
</div>
</div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
<div class="card border-left-warning shadow h-100 py-2" style="background-color:#414a4c;border-color:#414a4c;">
<div class="card-body">
<div class="row no-gutters align-items-center">
<div class="col mr-2">
<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Status</div>
<div class="h5 mb-0 font-weight-bold" style="color:white;"> <% if(bot.status === "online") { %> Online <% } else if(bot.status === "idle") { %> Idle <% } else { %> <%- bot.status %> <% } %></div>
</div>
<div class="col-auto">
<i class="fas fa-signal fa-2x text-gray-300"></i>
</div>
</div>
</div>
</div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
<div class="card border-left-success shadow h-100 py-2" style="background-color:#414a4c;border-color:#414a4c;">
<div class="card-body">
<div class="row no-gutters align-items-center">
<div class="col mr-2">
<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Servers</div>
<% let servers = Number(bot.servers) %>
<div class="h5 mb-0 font-weight-bold" style="color:white;"><%- servers.toLocaleString() %></div>
</div>
<div class="col-auto">
<i class="fas fa-server fa-2x text-gray-300"></i>
</div>
</div>
</div>
</div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
<div class="card border-left-info shadow h-100 py-2" style="background-color:#414a4c;border-color:#414a4c;">
<div class="card-body">
<div class="row no-gutters align-items-center">
<div class="col mr-2">
<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Users</div>
<% let users = Number(bot.users) %>
<div class="h5 mb-0 font-weight-bold" style="color:white;"><%- users.toLocaleString() %></div>
</div>
<div class="col-auto">
<i class="fas fa-user fa-2x text-gray-300"></i>
</div>
</div>
</div>
</div>
</div>
</div> 

<!-- end top row -->
<div class="row">

<div class="col-xl-3 col-md-6 mb-4">
<div class="card border-left-success shadow h-100 py-2" style="background-color:#414a4c;border-color:#414a4c;">
<div class="card-body">
<div class="row no-gutters align-items-center">
<div class="col mr-2">
<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Bot Invite</div>
<div class="h5 mb-0 font-weight-bold" style="color:white;">

<% if(bot.mbl.invite) { %>
<button onclick="window.open('//mythicalbots.xyz/bot/<%- bot.id %>/invite', '_blank')" class="dropbtn" style="background-color: ; border:none;cursor:pointer; outline: none;">Click Me!</button>
<% } else { %>
    <button onclick="window.open('//mythicalbots.xyz/bots/new?utm_source=dbh', '_blank')" class="dropbtn" style="background-color: ; border:none;cursor:pointer; outline: none;">Join Mythical Bot List to get your bots invite!</button>
<% } %>

</div>
</div>
<div class="col-auto">
<i class="fa fa-list fa-2x text-gray-300"></i>
</div>
</div>
</div>
</div>
</div>

<% if(user) { %>
<% console.log(bot) %>
<% 
let allowed = ["338192747754160138","137624084572798976"];
allowed.push(bot.owner);
%>

<% if(allowed.includes(user.id)) { %>

<div class="col-xl-3 col-md-6 mb-4">
<div class="card border-left-danger shadow h-100 py-2" style="background-color:#414a4c;border-color:#414a4c;">
<div class="card-body">
<div class="row no-gutters align-items-center">
<div class="col mr-2">
<div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Settings</div>
<div class="h5 mb-0 font-weight-bold" style="color:white;">
<button onclick=goto("/bot/<%- bot.id%>/remove") class="dropbtn" style="background-color: ; border:none;cursor:pointer; outline: none;">Delete Bot <i class="fas fa-trash"></i></button>
</div>
</div>
<div class="col-auto">
<i class="fa fa-cogs fa-2x text-gray-300"></i>
</div>
</div>
</div>
</div>
</div>
<% } %>

<% } %>