<meta http-equiv="refresh" content="2"/>
<title>Node 2 - DanBot Hosting Stats</title>
<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                background-color: #d8d8d8;
            }
            .container {
                text-align: center;
                align-items: center;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .large {
                font-size: 4em;
            }
        </style>
    </head>
</html>
  <div class="container">
      <a href="https://stats.danbot.xyz">All host stats</a>
        <div class="row justify-content-md-center">
          <div class="col col-10"><h3>Node 2 Stats</h3>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> <strong>CPU:</strong> {{Node2Data.cpu}} (Cores: {{Node2Data.cpucores}}, Threads: {{Node2Data.cputhreads}})</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> <strong>CPU Load:</strong> {{Node2Data.cpuload}}%</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> <strong>RAM (Used/Total)</strong> {{Node2Data.memused}} / {{Node2Data.memtotal}}</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-floppy-o" aria-hidden="true"></i> <strong>Host storage drive (Used/Total):</strong> {{Node2Data.diskused}} / {{Node2Data.disktotal}}</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-download" aria-hidden="true"></i> <strong>Network: Rx:</strong> {{Node2Data.netrx}} <strong>Tx:</strong> {{Node2Data.nettx}}</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> <strong>Uptime:</strong> {{Node2Data.osuptime}}</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> <strong>Speedtest (Updates every 6hours) | Ping:</strong> {{Node2DataSpeed.ping}}ms, <strong>Download:</strong> {{Node2DataSpeed.download}}Mbps, <strong>Upload: </strong>{{Node2DataSpeed.upload}}Mbps, <strong>Last Updated:</strong> {{Node2DataSpeed.updatetime}}</div>
        </div>

    </div>
  