<meta http-equiv="refresh" content="2"/>
<title>ServerMonitor - {{Data.hostname}}</title>
<!DOCTYPE html>
<html>
    <head>
        <title>{{ Data.hostname }} </title>
        <style>
            body {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                background-color: #d8d8d8;
            }
            .container {
                text-align: center;
                align-items: center;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .large {
                font-size: 4em;
            }
        </style>
    </head>

</html>
  <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-10"><h3>{{Data.servername}} Statistics.</h3>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> <strong>CPU:</strong> {{Data.cpu}} (Cores: {{Data.cpucores}}, Threads: {{Data.cputhreads}})</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> <strong>CPU Load:</strong> {{Data.cpuload}}%</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> <strong>RAM (Used/Total)</strong> {{Data.memused}} / {{Data.memtotal}}</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-floppy-o" aria-hidden="true"></i> <strong>OS Boot Drive (Used/Total):</strong> {{Data.diskused}} / {{Data.disktotal}}</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-download" aria-hidden="true"></i> <strong>Network: Rx:</strong> {{Data.netrx}} <strong>Tx:</strong> {{Data.nettx}}</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> <strong>Uptime:</strong> {{Data.osuptime}}</div>
        </div>
    </div>
  